.admin-container {
  column-count: 2;
  column-gap: 0px;
}

.card {
  break-inside: avoid;
}

.card100 {
    width: 100%;
}

.edit-container,
.tambah-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-container label,
.edit-container input,
.edit-container select,
.tambah-container label,
.tambah-container input,
.tambah-container select {
    margin: 10px 0 5px 0;
}

.edit-container input, 
.edit-container select,
.tambah-container input,
.tambah-container select {
    padding: 10px;
    font-size: 1rem;
}

.edit-container button, 
.download button,
.tambah-container button { 
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 20px;
}

.tambah-kompetisi button {
    margin-top: 20px;
}

.trix-button-row button {
    margin-top: 0;
}

.button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.button-container button {
    margin-left: 25px;
}

.logo-img { /* logo di admin dashboard */
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: flex-start;
}
.logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center; 
}
.download-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start; 
    justify-content: flex-start;
}

.download-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%; 
    text-align: start; 
    gap: 10px;
}

.actions {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.download-button {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .admin-container {
        column-count: 1;
    }
}
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}