body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* Buat Sub Header */
.custom-subheader {
    display: flex;
    gap: 20px;
    align-items: center;
}

.custom-subheader .line {
    min-width: 45px;
    max-height: 0;
    border-top: 1px solid black;
}

.custom-subheader h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #008dda;
}

/* Navbar*/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    z-index: 1000;
}

.scrolled {
    background-color: rgb(77, 77, 77);
    border-bottom: unset;
}

.navbar-left .logo {
    width: 50px;
    height: 50px;
}

.navbar-center .nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar-center .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right .btn-login,
.navbar-right .btn-register {
    padding: 7px 27px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.navbar-right .btn-login {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.navbar-right .btn-register {
    background-color: #008dda;
    color: white;
}

/* Hero Section Styles */
#hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    color: white;
}

.hero-content h1 {
    max-width: 80%;
    font-size: 70px;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-buttons .btn-competition {
    padding: 12px 45px;
    background-color: #008dda;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
}

.hero-buttons .social-icon {
    width: 30px;
    height: 30px;
}

/* Pengenalan Section*/
#pengenalan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 100px 8%;
}

.pengenalan-img {
    /* Kalo mau re-size imagenya ubah yg ini*/
    width: 600px;
}

.pengenalan-img img {
    width: 100%;
}

.pengenalan-content h2 {
    font-size: 34px;
    font-family: "Inter", sans-serif;
    margin: 0;
    text-transform: uppercase;
    max-width: 350px;
}

.pengenalan-content p {
    font-size: 16px;
    max-width: 500px;
}

/* Jadwal Section */
#jadwal {
    background-color: #f8f4ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#jadwal h2 {
    margin: 0;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 34px;
}

.jadwal-items {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.jadwal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jadwal-item-img {
    width: 130px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border: 2px solid #008dda;
    border-radius: 100%;
}

.jadwal-item-img img {
    width: 40%;
}

.jadwal-item p {
    color: #008dda;
    font-size: 18px;
    font-weight: 600;
}

.jadwal-item h3 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
}
