/* Main Content */
    .main-content {
        position: relative;
        min-height: 100vh;
        margin-left: 256px; /* Yang ini ubah sesuai width si navbarnya ya*/
        top: 0;
        width: 100%;
        transition: all 0.1s;
        padding: 10px;
    }

    .main-content_sidebar-hide {
        margin-left: 92px;
    }

/* Table */
    .table-container {
        overflow-x: auto;
        position: relative;
    }

    .table-container label {
        display: block;
        margin-bottom: 10px;
    }

    #entries {
        margin-left: 5px;
        padding: 5px;
    }

    #search {
        float: right;
        padding: 5px;
        margin-bottom: 10px;
        
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    table .actions {
        display: flex;
    }

    .table-container select {
        font-size: 1rem;
        background-color: #fff;
        border: 1px solid #4b4b4b;
        border-radius: 5px;
        color: #4b4b4b;
        cursor: pointer;
    }

    .table-container select:focus {
        border-color: #4b4b4b;
        outline: none;
    }

    .table-container select option {
        padding: 10px;
        background-color: white;
        color: #4b4b4b;
    }

/* Status Badges */
    .status {
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        display: inline-block;
    }

    .status.waiting {
        background-color: #ffcc00;
    }

    .status.registration {
        background-color: #ff9900;
    }

    .status.bayar {
        background-color: #00cc00;
    }

    .status.buka {
        background-color: #007bff;
    }

    .status.belum-buka {
        background-color: #ff9900;
    }

    .status.tutup {
        background-color: #ff0000;
    }

    .status.harga {
        background-color: #00aa00;
    }

/* Pagination */
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .pagination button, button {
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.1s;
    }

    .submit-button {
        width: 100%;
        max-width: 250px;
        min-width: 70px;
    }

    .pagination button:hover:enabled, button:hover {
        background-color: #0056b3;
    }

    .pagination .current-page {
        padding: 5px 10px;
    }

    .pagination button:disabled {
        background-color: #ccc;
        color: #4b4b4b;
        cursor: not-allowed;
    }

    .pagination .page-numbers {
        display: flex;
        gap: 10px;
    }

    .pagination .page-number {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s;
    }

    .pagination .page-number:hover {
        background-color: #eee;
    }

    .pagination .page-number.current {
        background-color: #ccc;
        font-weight: bold;
    }


/* Layout Positioning */
    .left-container {
        width: 70%;
    }

    .right-container {
        width: 30%;
    }

    .top-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bottom-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/* Top Card */
    .top-card {
        flex: 1 1 calc(25% - 40px);
        padding: 20px;
        margin: 20px;
        display: flex;
        align-items: center;
        min-width: 0;
        max-width: 100%;
    }

    .top-card p {
        font-size: 18px;
    }

    .card-content {
        margin-left: 80px;
    }

    .card-icon {
        background-color: #7fbdff;
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        margin-right: 20px;
        border-radius: 6px;
        position: absolute;
    }

    .card-left {
        display: flex;
        align-items: center;
        min-height: 60px;
    }

    .card-right {
        display: flex;
        align-items: center;
    }

/* Overlay */
    .overlay {
        flex-direction: column;
        align-items: center;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x:hidden;
        height: calc(100% - 40px);
    }

    .overlay-container {
        background-color: #ffffff;
        border-radius: 10px;
        margin-top: 10vh;
        max-width: 500px;
    }

    @media screen and (max-width: 768px) {
        .overlay-container {
            width: 90%;
        }
        
    }

    .overlay .atlet {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .overlay select {
        margin: 5px 0 20px 0;
        appearance: none;
        padding: 10px;
        font-size: 1rem;
    }

    .overlay select#atlet {
        width: 100%;
        padding: 10px;
        border: 1px solid #a5a5a5;
        border-radius: 4px;
        font-size: 16px;
        color: inherit;
    }

    .overlay select#atlet option {
        padding: 10px;
        background-color: #fff;
        color: #4b4b4b;
    }

    .overlay input {
        margin: 5px 0 20px 0;
        padding: 10px;
        font-size: 1rem;
    }

    #closeOverlay {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 10px 0 0;
        cursor: pointer;
    }

    #closeOverlay:hover {
        color: #272727;
        opacity: 0.7;
    }

/* Custom */

/* Error */
    .error-list {
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        border: 1px solid red;
        border-radius: 5px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.3s ease;
        width: calc(100% - 40px);
        z-index: 2000;
    }
    .error-list.show {
        top: 20px;
        opacity: 1;
    }

    .error-item {
        margin-bottom: 5px;   
        display: flex;
        align-items: center;
        gap: 5px;
    }

/*Success*/
    .success-list {
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #def8d7;
        color: #2a6d19;
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.3s ease;
        width: calc(100% - 40px);
        z-index: 2000;
    }
    .success-list.show {
        top: 20px;
        opacity: 1;
    }

    .success-item {
        margin-bottom: 5px;   
        display: flex;
        align-items: center;
        gap: 5px;
    }

i {
    font-size: 1.5rem;
}

.green {
    background-color: #21c21c;
}

.dark-green {
    background-color: #00aa00;
}

.orange {
    background-color: #ffcc00;
}

.red {
    background-color: #ff5151;
}

.blue {
    background-color: #0cbfec;
}

.button-gap {
    margin:5px;
}

.button-red {
    background-color: #ff1414;
}

.button-red:hover {
    background-color: #cc0000;
}

.button-green {
    background-color: #21c21c;
}

.button-green:hover {
    background-color: #09993b;
}

/* input {
    cursor: pointer;
} */

input#dokumen {
    padding: 0;
    margin: 10px;

}

/* input number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

.search {
    padding: 10px;
    border: #4b4b4b 1px solid;
    border-radius: 5px;
    width: 100%;
}

.all-container {
    padding: 20px;
    margin: 20px;
    position: relative;
}

.all-card {
    border-radius: 10px;
    background-color: #ffffff;
    color: #4b4b4b;
    /* overflow: hidden; */
}

.divider {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.tagihan-text {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #4b4b4b;
    font-weight: bold;
}

.info-bayar {
    margin-top: 15px;
    color: #4b4b4b;
    font-weight: normal;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .news {
    margin-bottom: 20px;
} */

.news h3, 
.news p {
    margin-bottom: 5px;
}

.news span {
    margin: 5px 0 10px 0;
}

.info {
    margin-bottom: 20px;
}
.info * {
    margin-bottom: 5px;
}

.card-info {
    overflow: block;
}

.card-info p{
    margin-bottom: 5px;
}   

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .main-content {
        margin-left: 0;
        padding: 0;
    }

    .all-card {
        margin-bottom: 10px;
    }
    .breadcrumb {
        margin: 10px 0 10px 0;
    }
}

@media screen and (max-width: 1054px) {
    .left-container {
        width: 100%;
    }
    .right-container {
        width: 100%;
    }
}

@media (max-width: 1272px) {
    .top-card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 628px) {
    .top-card {
        flex: 1 1 calc(100% - 40px);
    }
}



.maxwd {
    max-width: 768px;
    width: 100%;
}

.edit-atlet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edit-atlet input, .edit-atlet select {
    margin: 5px 0 20px 0;
    padding: 10px;
    font-size: 1rem;
}

.edit-dokumen label {
    display: block;
    margin-bottom: 5px;
}

.record {
    display: flex;
    justify-content: space-between;
}

.breadcrumb {
    margin-bottom: 10px;
    font-size: 1rem;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    padding-left: 30px;
    flex-wrap: wrap;
}

.breadcrumb ul li {
    display: flex;
    align-items: center;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb ul li a:hover {
    text-decoration: underline;
}

.breadcrumb ul li::after {
    content: '/';
    margin-left: 8px;
}

.breadcrumb ul li:last-child::after {
    content: '';
}

.total-price {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: flex-end; /* Align the elements to the right */
    margin-top: 20px; /* Space above the container */
}

.total-price p {
    margin: 0; /* Removes any default margin from the paragraph */
    font-weight: bold;
    margin-bottom: 10px; /* Space between the total text and the button */
}

.pay-all-button {
    background-color: #007bff; /* Blue background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pay-all-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Tooltip */
button[data-tooltip] {
    position: relative;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 120%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

button[data-tooltip]:hover::after {
    opacity: 1;
}
