
/* Main Content */
.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    width: 100%;
    transition: all 0.1s;
    padding: 10px;
}

/* Table */
.table-container {
    overflow-x: auto;
    position: relative;
}

.table-container label {
    display: block;
    margin-bottom: 10px;
}

#entries {
    margin-left: 5px;
    padding: 5px;
}

#search {
    float: right;
    padding: 5px;
    margin-bottom: 10px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Status Badges */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.status.waiting {
    background-color: #ffcc00;
}

.status.registration {
    background-color: #ff9900;
}

.status.bayar {
    background-color: #00cc00;
}

.status.buka {
    background-color: #007bff;
}

.status.tutup {
    background-color: #ff0000;
}

.status.harga {
    background-color: #00aa00;
}
/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pagination button, button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.pagination button:hover:enabled, button:hover {
    background-color: #0056b3;
}

.pagination .current-page {
    padding: 5px 10px;
}

.pagination button:disabled {
    background-color: #ccc;
    color: #4b4b4b;
    cursor: not-allowed;
}

.pagination .page-numbers {
    display: flex;
    gap: 10px;
}

.pagination .page-number {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.1s;
}

.pagination .page-number:hover {
    background-color: #eee;
}

.pagination .page-number.current {
    background-color: #ccc;
    font-weight: bold;
}


/* Layout Positioning */
.left-container {
    width: 70%;
}

.right-container {
    width: 30%;
}

.top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Top Card */
.top-card {
    flex: 1 1 calc(25% - 40px);
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 100%;
}

.card-icon {
    background-color: #7fbdff;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    margin-right: 20px;
    border-radius: 6px;
}

.card-left {
    display: flex;
    align-items: center;
}

.card-right {
    display: flex;
    align-items: center;
}


.lunas-card-icon {
    background-color: #21c86f;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 20px;
}

.acara-card-icon {
    background-color: #0cbfec;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 20px;
}

/* Overlay */

.overlay {
    flex-direction: column;
    align-items: center;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    height: calc(100% - 40px);
}

.overlay-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10vh;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .overlay-container {
        width: 90%;
    }
    
}

.overlay .atlet {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.overlay select {
    margin: 5px 0 20px 0;
    appearance: none;
    padding: 10px;
}

.overlay input {
    margin: 5px 0 20px 0;
    padding: 10px;
}

#closeOverlay {
    float: right;
    cursor: pointer;
    margin-bottom: 20px
}

#closeOverlay:hover {
    color: #272727;
}

/* Option*/

select {
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    color: #4b4b4b;
    cursor: pointer;
}

select:focus {
    border-color: #4b4b4b;
    outline: none;
}

select option {
    padding: 10px;
    background-color: white;
    color: #4b4b4b;
}

/* Custom */

.button-gap {
    margin:5px;
}

.button-red {
    background-color: #ff1414;
}

.button-red:hover {
    background-color: #cc0000;
}

.button-green {
    background-color: #21c21c;
}

.button-green:hover {
    background-color: #09993b;
}

.search {
    padding: 10px;
    border: #4b4b4b 1px solid;
    border-radius: 5px;
}

.all-container {
    padding: 20px;
    margin: 20px;
}

.all-card {
    border-radius: 10px;
    background-color: #ffffff;
    color: #4b4b4b;
}

.divider {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.tagihan-text {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #4b4b4b;
    font-weight: bold;
}

.info-bayar {
    margin-top: 15px;
    color: #4b4b4b;
    font-weight: normal;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.center {
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1054px) {
    .left-container {
        width: 100%;
    }
    .right-container {
        width: 100%;
    }
}

@media (max-width: 1272px) {
    .top-card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 628px) {
    .top-card {
        flex: 1 1 calc(100% - 40px);
    }
}
