/* Card Styles */
.profile-top-card {
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.profile-card-icon {
    background-color: #007bff;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    margin-right: 20px;
}

.profile-card-content p {
    font-size: 1.2rem;
    color: #4b4b4b;
    margin-bottom: 5px;
}

.profile-card-content h1 {
    font-size: 2rem;
    color: #007bff;
}

/* Bottom Container Styles */
.profile-bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    margin: 20px;
}

.profile-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.profile-section img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
}

.profile-section button {
    background-color: #ff1414;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.profile-section button:hover {
    background-color: #cc0000;
}

/* Form Styles */
.profile-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #4b4b4b;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"],
.profile-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.1s ease-in-out;
}

.profile-form input[type="text"]:focus,
.profile-form input[type="email"]:focus,
.profile-form input[type="password"]:focus,
.profile-form input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
}

.profile-form button {
    background-color: #21c21c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.profile-form button:hover {
    background-color: #09993b;
}

.profile-form a > button {
    margin-bottom: 20px;
}

/* Additional Section Styles */
.profile-section h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #4b4b4b;
}
.profile-delete-section {
    grid-column: span 2;
    background-color: #f8d7da;
    color: #721c24;
}
/* Tombol Hapus Foto */
.profile-section .delete-photo-button {
    background-color: #ff1414;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.profile-section .delete-photo-button:hover {
    background-color: #cc0000;
}

/* Hapus Akun */
.profile-delete-section h1 {
    margin-bottom: 0px;
    font-size: 1.8rem;
    color: #721c24;
}

.profile-delete-section p {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-delete-section label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.profile-delete-section input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.1s ease-in-out;
}

.profile-delete-section button {
    background-color: #ff1414;
}

.profile-delete-section button:hover {
    background-color: #cc0000;
}

@media (max-width: 768px) {
    .profile-bottom-container {
        grid-template-columns: 1fr;
    }

    .profile-delete-section {
        grid-column: span 1;
    }
}
