@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Navbar Mobile */
.navbar-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #cac4c4;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  z-index: 1001;
}
.navbar-toggle {
  cursor: pointer;
}
.navbar-title {
  font-size: 18px;
  font-weight: 500;
}
.navbar-user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.navbar-user.hide {
  display: none;
}

/* Sidebar and backdrop */
.sidebar {
  position: fixed;
  left: 0;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 24px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.2s;
  z-index: 1;
}
.sidebar .head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}
.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}

.no-underline {
    text-decoration: none;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.1s;
}

.menu ul li a:hover {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li > a:hover {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.1s;
}

.menu ul li.active > a {
  color: #000;
  background-color: #d4d4d4;
}
.menu ul li.active > .sub-menu {
  display: block;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}

.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu.open {
  display: block;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.1s;
}

.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: none;
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: left;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu ul li .text {
  display: none;
}

.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  display: flex;
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}
.sidebar.active .menu > ul > li > a .text::after {
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
.sidebar.active .menu .sub-menu li a .text {
  display: flex;
}


/* Mobile specific styles */
@media screen and (max-width: 768px) {
  .navbar-mobile {
    display: flex;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1002;
  }

  .sidebar .menu-btn {
    display: none;
  }

  .sidebar.active {
    transform: translateX(0);
    width: 256px;
    height: 100vh;
  }

  .sidebar-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .sidebar.active ~ .sidebar-backdrop {
    display: block;
  }
  
  .sidebar.active .menu ul li .arrow {
    display: flex;
  }

  .sidebar.active .menu-btn i {
    transform: rotate(180deg);
  }

  .sidebar.active .menu > ul > li > a {
    justify-content: flex-start;
  }

  .sidebar.active .menu > ul > li > a .text {
    position: static;
    left: auto;
    top: auto;
    transform: none;
    padding: 0;
    border-radius: 0;
    color: inherit;
    background-color: inherit;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.active .menu > ul > li > a:hover .text {
    left: auto;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.active .menu ul li .text {
    display: flex;
  }

  .sidebar.active .menu .sub-menu {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    border-radius: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    box-shadow: none;
    padding-top: 10px;
  }
  .sidebar.active .menu-btn {
    display: flex;
  }

  .sidebar.active .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar .head {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .user-img {
    margin-bottom: 10px;
  }
  .main-content {
    margin-top: 80px;
  }
  .ph-bold.ph-caret-right:before {
    content: none; 
  } 
  .ph-bold.ph-caret-right:after {
    content: "\e13a"; 
  } 
  .hide {
    display: none;
  }
}

.credits {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
